ul {
  padding-inline-start: 0;
  padding-right: 10px;
  padding-left: 0px;
}
li {
  display: flex;
  flex-direction: column;
  color: rgb(204, 202, 202);
}

.BESTSELLERS {
  width: 91px;
  height: 15px;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
