.infoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.infoContainer > * {
  display: flex;
  margin-top: 50px;
}

.textGameDesc {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.description {
  color: #ffffff;
  max-width: 500px;
  margin-top: 0px;
}

.listProperties {
  max-width: 500px;
}

.listProperties > li {
  margin-top: 20px;
}

.listProperties > li:first-child {
  margin-top: 0px;
}

.imgInitial {
  width: 473px;
  height: 473px;
}
.imgInitialContainer {
  align-items: center;
}
