header {
  z-index: 1;
  width: 1920px;
  height: fit-content;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 600px;
}
.infoHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
}
.priceLabel {
  width: 1559px;
  height: 130px;
  display: flex;
  padding: 32px 38px 32px 45px;
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.08);
  background-color: #24262e;
  align-items: center;
  margin: 0;

  justify-content: space-between;
}
.priceLabelContainer {
  display: flex;
  justify-content: center;
}

.installButton {
  width: 213px;
  height: 66px;
  cursor: pointer;
}

.price {
  font-size: 48px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
img.iconnavigationchevron_left_24px {
  width: 3.5%;
  height: 3.5%;
  object-fit: contain;
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
}

.gameTitle {
  font-size: 72px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  margin: auto;
  width: 1650px;
}
.newRelease {
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  margin-left: 10px;
}
.status {
  display: flex;
  flex-direction: row;
  width: 1650px;
  margin: auto;
}
.Oval {
  width: 29px;
  height: 29px;
  background-color: var(--pink-red);
  border-radius: 20px;
}
