.card {
  width: 100%;
  height: 100%;
  min-width: 359px;
  min-height: 268px;
}

.textCard {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
  max-height: 61.5px;
  max-width: 358.99px;
}

.infoCard {
  flex-basis: 68%;
}
.buttonCard {
  flex-basis: 20%;
  flex-grow: 1;
}

.cardImage {
  height: 210px;
  width: 359px;
  min-width: 359px;
  min-height: 210px;
}
.cardTitle {
  height: 23px;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.cardMoney {
  height: 36px;
  opacity: 0.6;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.4;
  letter-spacing: normal;
  color: #fff;
}
.buttonCard > button {
  cursor: pointer;
}
.buttonCard {
  display: flex;
  align-items: center;
  justify-content: center;
}
