.imgBackground {
  width: 1920px;
  height: 819px;
  position: absolute;
  z-index: 0;
  justify-self: center;
  overflow: hidden;
  left: 50%;
  top: 44%;
  transform: translate(-50%, -50%);
}

body {
  z-index: -1;
}
body > * {
  z-index: 1;
}

.relative {
  position: relative;
  left: 50%;
}
