:root {
  --pink-red: #ff005e;
  --midnight: #030616;
}

body,
html,
#root,
#root > div {
  overflow: auto;
  overflow-y: overlay;
}

html,
body {
  min-height: 100%;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

.Text-Style {
  /* font-family: Roboto; */
  font-size: 72px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.Text-Style-4 {
  /* font-family: TTNorms; */
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.Text-Style-3 {
  /* font-family: Roboto; */
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  color: #fff;
}
.Text-Style-2 {
  /* font-family: TTNorms; */
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.container {
  height: 100%;
  overflow: auto;
  overflow-y: overlay;
  background-color: var(--midnight);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.main {
  flex: 3;
  height: 90vh;
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  justify-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  grid-column: 1/5;
  grid-row: 1/4;
}
.c12 {
  flex: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.mx {
  margin-left: 9.375%;
  margin-right: 9.375%;
}
.w100 {
  width: 100%;
}
.dIB {
  display: inline-block;
}
.btn {
  background-color: #2529d8;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  padding: 14px 25px 13px;
}
.btn:hover {
  background-color: #146adb;
}
.textButton {
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
